<h2>
  Products
</h2>
<ais-instantsearch
  [config]="{
    apiKey: '6be0576ff61c053d5f9a3225e2a90f76',
    appId: 'latency',
    indexName: 'instant_search',
    searchParameters: {
      hitsPerPage: 8
    }
  }"
>
  <div id="searchBox">
    <ais-search-box></ais-search-box>
  </div>
  <div class="twoColumns">
    <ais-refinement-list attribute="brand"></ais-refinement-list>
    <ais-hits>
      <ng-template let-hits="hits">
        <div *ngFor="let hit of hits">
          <ais-highlight attribute="name" [hit]="hit"></ais-highlight>
        </div>
      </ng-template>
    </ais-hits>
  </div>
  <ais-pagination attribute="brand"></ais-pagination>
</ais-instantsearch>
